<h4 ng-if="videos.length">VIDEOS</h4>
<div ng-if="videos.length" class="position-relative">
    <div class="charity-videos-container bordered-default rounded shadowed non-selectable">

        <ul rn-carousel
            rn-carousel-index="videoSlideIndex"
            class="charity-videos charts">
            <li ng-repeat="video in videos" class="slidevideo">
                <youtube-player video-id="{{ video }}"></youtube-player>
            </li>
        </ul>
        <div class="charity-videos-indicators">
            <div class="rn-carousel-indicator">
                <span ng-repeat="video in videos" ng-class="{active: $index == videoSlideIndex}" ng-click="$parent.videoSlideIndex = $index">●</span>
            </div>
        </div>

        <div class="controls ng-cloak">
            <a class="left carousel-control no-background"
               ng-hide="videos.length == 1 || disabled"
               ng-click="videoSlideIndex = (videoSlideIndex - 1) < 0 ? videos.length - 1 : (videoSlideIndex - 1); videoPauseAll(); makeDisabled();">
                <span class="icon-prev"
                      analytics-on
                      analytics-category="Charity Profile"
                      analytics-event="scroll videos"></span>
            </a>
            <a class="left carousel-control no-background"
               ng-hide="!disabled">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control no-background"
               ng-hide="videos.length == 1 && disabled"
               ng-click="videoSlideIndex = (videoSlideIndex == videos.length - 1) ? 0 : (videoSlideIndex + 1); videoPauseAll(); makeDisabled();">
                <span class="icon-next"
                      analytics-on
                      analytics-category="Charity Profile"
                      analytics-event="scroll videos"></span>
            </a>
            <a class="right carousel-control no-background"
               ng-hide="!disabled">
                <span class="icon-next"></span>
            </a>
        </div>

    </div>
</div>