<div class="container charity-profile-page" ng-if="charity">

    <charity-arrows ng-if="!isPreviewMode" charity="charity"></charity-arrows>

    <!-- banner and quick donate form -->
    <div class="row" ng-cloak>
        <div class="col-md-12 profile-banner">
            <img ng-src="{{ charity.banner_image.url }}" width="100%" height="250px" alt="banner image"/>
        </div>
    </div>

    <div ng-hide="!isQuickDonation" class="quick-donate" ng-cloak>
        <donation-quick-form charity="charity"
                      on-cancel="setQuickDonation(false)"
                      on-success="setQuickDonation(false)"></donation-quick-form>
    </div>

    <div class="row" ng-if="charity">

        <div class="col-md-8 charity-profile-main">
            <!-- charity title -->
            <div class="position-relative">
                <div class="charity-profile-header">
                    <!-- description -->
                    <h2 ng-cloak
                        title="{{ charity.name }} - {{ charity.description }}"
                        ng-class="{ 'text-xl' : charity.name.length > 30 }">
                        {{ charity.name | textTruncate: 30 }}
                    </h2>

                    <h3 ng-cloak title="{{ charity.name }} - {{ charity.description}}">
                        &#123;<span>{{ charity.description | textTruncate: 85 }}</span>&#125;
                    </h3>
                </div>
            </div>

            <div class="reviews-wrapper full-width pull-left bordered-default rounded shadowed padded" ng-cloak>
                <div class="col-xs-6">
                    <h4 class="header border-none" ng-show="('charity.profile.main' | isState)">MISSION</h4>
                    <h4 class="header border-none" ng-show="('charity.profile.reviews' | isState)">REVIEWS</h4>
                    <h4 class="header border-none" ng-show="('charity.profile.review' | isState)">REVIEW</h4>
                </div>
                <div class="col-xs-6 text-right">
                    <review-summary class="reviewsReference pull-right"
                                    ng-show="('charity.profile.main' | isState)"
                                    ui-sref="charity.profile.reviews({charityId: charity.id})"
                                    charity="charity"></review-summary>
                    <div class="clickable missionReference" ng-show="!('charity.profile.main' | isState)">
                        <a ui-sref="charity.profile.main({charityId: charity.id})"><i class="fa fa-chevron-left"></i> BACK</a>
                    </div>
                </div>
                <div class="panel-body text-gray-dark text-body-bold full-width border-top nga-default nga-slide-up-all">
                    <div ui-view></div>
                </div>
            </div>

            <!-- photos and videos -->
            <div class="row" ng-show="('charity.profile.main' | isState)" ng-cloak>
                <div class="col-md-8">
<!--                     <charity-videos-carousel ng-init="videoSlideIndex = 0" videos="videosList" video-slide-index="videoSlideIndex">
                    </charity-videos-carousel> -->
                    <charity-videos-channel ng-init="videoSlideIndex = 0" video-slide-index="videoSlideIndex" channel="'dotasltv'"></charity-videos-channel>
                    <charity-photos charity="charity" title="'PHOTOS'"></charity-photos>
                </div>
            </div>

        </div>

        <div class="col-md-4 charity-profile-sidebar">

            <!-- manage buttons -->
            <div class="text-right donate-manage-buttons" ng-class="{ 'charity-profile-edit' : (charity | isCharityManagedByCurrentUser) }">
                <div class="charity-excluded-content display-none">
                    charity <strong>{{ charity.name }}</strong> has been excluded by your company admin
                </div>
                <user-favorite-charity-toggle ng-show="!isPreviewMode" charity="charity"></user-favorite-charity-toggle>

                <!-- manage button -->
                <button ng-show="!isPreviewMode && (charity | isCharityManagedByCurrentUser)"
                        class="btn we2o-button we2o-teal-button donate-charityprofile pull-right"
                        ui-sref="charity.dashboard.statistics({ charityId: charity.id })">MANAGE</button>

                <button user-login-required
                        on-logged="setQuickDonation(true)"
                        ng-disabled="isPreviewMode"
                        ng-hide="charity | isCharityExcludedForCurrentUser"
                        class="btn we2o-button we2o-red-button donate-charityprofile pull-right">
                    donate
                </button>
                <button ng-show="charity | isCharityExcludedForCurrentUser"
                        class="btn we2o-x-button donate-charityprofile pull-right"
                        tooltipster
                        tooltipster-theme="custom-theme"
                        tooltipster-delay="235"
                        tooltipster-selector=".charity-excluded-content"
                        tooltipster-position="top"
                        tooltipster-animation="grow">excluded</button>
            </div>

            <!-- charity summary (statistics) -->
            <div class="panel panel-default summary">
                <charity-summary-widget ng-if="charity" charity="charity"></charity-summary-widget>
            </div>

            <!-- live twitterchannel for charity -->
            <div class="panel panel-default">
                 <twitter-channel twitter-pages="[charity.twitter_page]"
                                  title="{{ charity.name + ' TWITTERCHANNEL' }}">
                 </twitter-channel>
            </div>

            <!-- facts and successes summary -->
            <div class="charity-profile-facts panel panel-default">
                <div class="panel-heading">
                    <h4>facts</h4>
                </div>

                <div class="panel-body">
                    <a class="charityURL"
                       ng-href="{{ charity.website }}"
                       target="_blank"
                       analytics-on
                       analytics-category="Charity Profile"
                       analytics-event="click charity homepage">
                        {{ charity.name | textTruncate: 30 }}
                    </a>
                    <p><charity-navigator-link charity="charity"></charity-navigator-link></p>
                    <p><a href="http://twitter.com/{{ charity.twitter_page }}"
                          target="_blank"
                          analytics-on
                          analytics-category="Charity Profile"
                          analytics-event="click twitter"><i class="fa fa-twitter"></i></a></p>
                    <p><a href="http://facebook.com/{{ charity.facebook_page }}"
                          target="_blank"
                          analytics-on
                          analytics-category="Charity Profile"
                          analytics-event="click fb"><i class="fa fa-facebook"></i></a></p>
                    <p class="eachfact" ng-repeat="fact in charity.facts track by $index">{{ fact }}</p>
                </div>
            </div>

            <!-- Stories -->
            <div ng-if="charity.stories.length > 0" class="charity-profile-successes panel panel-default">
                <div class="panel-heading">
                    <h4>successes</h4>
                </div>

                <div class="panel-body">
                    <p class="eachSuccess" ng-repeat="story in charity.stories track by $index">{{ story }}</p>
                </div>
            </div>

        </div>
    </div>
</div>
