<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->
    <head>

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The new personalized philanthropy platform that empowers companies, engages employees & enables giving at source for charities." />
        <meta name="keywords" content="philanthropy, platform, charity, do good, new source of funding, social philanthropy, employee engagement, transformative giving, philanthropist, close the giving loop, social network for the better you" />
        <meta name="author" content="we2o" />
        <meta property="fb:app_id" content="755297814543210" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.we2o.org/" />
        <meta property="og:title" content="we2o" />
        <meta property="og:image" content="http://www.we2o.org/app/images/we2o-facebook-image.png" />
        <meta name="fragment" content="#" />
        <base href="/">

        <title>we2o</title>
        <link rel="shortcut icon" href="images/favicon.png">

        <!-- NOTE: don't edit this section, css styles files will be injected automatically -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="vendor/nouislider/distribute/jquery.nouislider.min.css" />
        <link rel="stylesheet" href="vendor/nouislider/distribute/jquery.nouislider.pips.min.css" />
        <link rel="stylesheet" href="vendor/we2o-js-commons/dist/we2o-js-commons.css" />
        <link rel="stylesheet" href="vendor/tooltipster/css/tooltipster.css" />
        <link rel="stylesheet" href="vendor/tooltipster/css/themes/tooltipster-light.css" />
        <link rel="stylesheet" href="vendor/perfect-scrollbar/src/perfect-scrollbar.css" />
        <link rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="vendor/bootstrap-daterangepicker/daterangepicker-bs3.css" />
        <link rel="stylesheet" href="vendor/angular-block-ui/dist/angular-block-ui.css" />
        <link rel="stylesheet" href="vendor/angular-carousel/dist/angular-carousel.css" />
        <link rel="stylesheet" href="vendor/angular-select-items/dist/angular-select-items.css" />
        <link rel="stylesheet" href="vendor/angular-open-dropdown/dist/angular-open-dropdown.css" />
        <link rel="stylesheet" href="vendor/angular-tags-input/dist/angular-tags-input.css" />
        <link rel="stylesheet" href="vendor/angular-select-tags/dist/angular-select-tags.css" />
        <link rel="stylesheet" href="vendor/angular-select-autocomplete/dist/angular-select-autocomplete.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- NOTE: custom vendor styles that aren't included automatically must be manually included here -->
        <!-- build:css styles/library.css -->
        <!-- endbuild -->

        <!-- main application style (compiled by less) -->
        <!-- build:css styles/style.css -->
        <link rel="stylesheet" type="text/css" href="styles/style.css" />
        <!-- endbuild -->

        <!-- these vendors are cdnfied on the production -->
        <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css" />

        <!-- these major vendors are loaded first and cdnfied on the production -->
        <script src="vendor/jquery/dist/jquery.js"></script>
        <script src="vendor/angular/angular.js"></script>

    </head>

    <body ng-app="we2o"
          ng-jq
          ng-class="{ 'body-onepage': ('main.home' | includedByState) }"
          current-state="{{ $state.current.name }}">

        <notification-center-messages></notification-center-messages>

        <div class="wrap">
            <main-header></main-header>
            <main-content></main-content>
            <main-footer></main-footer>
        </div>

        <feedback></feedback>
        <symfony-profiler-panel></symfony-profiler-panel>

        <!-- NOTE: don't edit this section, javascript files will be injected automatically -->
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="vendor/modernizr/modernizr.js"></script>
        <script src="vendor/angular-easyfb/angular-easyfb.js"></script>
        <script src="vendor/nouislider/distribute/jquery.nouislider.all.min.js"></script>
        <script src="vendor/we2o-js-commons/dist/we2o-js-commons.js"></script>
        <script src="vendor/angular-cookies/angular-cookies.js"></script>
        <script src="vendor/angular-sanitize/angular-sanitize.js"></script>
        <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="vendor/tooltipster/js/jquery.tooltipster.js"></script>
        <script src="vendor/perfect-scrollbar/src/perfect-scrollbar.js"></script>
        <script src="vendor/jquery-mousewheel/jquery.mousewheel.js"></script>
        <script src="vendor/angular-scrollable/dist/scrollable.js"></script>
        <script src="vendor/angular-loading-bar/build/loading-bar.js"></script>
        <script src="vendor/angular-recaptcha/release/angular-recaptcha.js"></script>
        <script src="vendor/greensock/src/uncompressed/TweenMax.js"></script>
        <script src="vendor/greensock/src/uncompressed/plugins/ScrollToPlugin.js"></script>
        <script src="vendor/greensock/src/uncompressed/easing/EasePack.js"></script>
        <script src="vendor/moment/moment.js"></script>
        <script src="vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="vendor/angular-block-ui/dist/angular-block-ui.js"></script>
        <script src="vendor/angular-animate/angular-animate.js"></script>
        <script src="vendor/numeral/numeral.js"></script>
        <script src="vendor/angular-numeraljs/dist/angular-numeraljs.js"></script>
        <script src="vendor/angular-touch/angular-touch.js"></script>
        <script src="vendor/angular-carousel/dist/angular-carousel.js"></script>
        <script src="vendor/waypoints/waypoints.js"></script>
        <script src="vendor/SHA-1/sha1.js"></script>
        <script src="vendor/angulartics/src/angulartics.js"></script>
        <script src="vendor/angulartics/src/angulartics-gtm.js"></script>
        <script src="vendor/angular-auto-grow-input/dist/angular-auto-grow-input.js"></script>
        <script src="vendor/angular-select-options/dist/angular-select-options.js"></script>
        <script src="vendor/angular-disable-all/dist/angular-disable-all.js"></script>
        <script src="vendor/angular-select-items/dist/angular-select-items.js"></script>
        <script src="vendor/angular-open-dropdown/dist/angular-open-dropdown.js"></script>
        <script src="vendor/angular-tags-input/dist/angular-tags-input.js"></script>
        <script src="vendor/angular-select-tags/dist/angular-select-tags.js"></script>
        <script src="vendor/angular-select-autocomplete/dist/angular-select-autocomplete.js"></script>
        <script src="vendor/cryptojslib/rollups/md5.js"></script>
        <script src="vendor/cryptojslib/rollups/aes.js"></script>
        <script src="vendor/cryptojslib/components/enc-base64.js"></script>
        <script src="vendor/ng-file-upload/ng-file-upload.js"></script>
        <script src="vendor/angular-moment/angular-moment.js"></script>
        <script src="vendor/lodash/lodash.js"></script>
        <script src="vendor/plax/js/plax.js"></script>
        <script src="vendor/angular-messages/angular-messages.js"></script>
        <script src="vendor/detectizr/dist/detectizr.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- NOTE: custom vendor libraries that aren't included automatically must be manually included here -->
        <!-- build:js scripts/library.js -->
        <!-- endbuild -->
        <!-- endbower -->


        <!-- NOTE: don't edit this section, javascript files will be injected automatically -->
        <!-- build:js scripts/script.js -->
        <!-- inject:js -->
        <script src="scripts/social/twitter-channel/twitterChannelMod.js"></script>
        <script src="scripts/social/twitter-channel/services/repository/TwitterChannelTweetRepository.js"></script>
        <script src="scripts/social/social-connect/socialConnectMod.js"></script>
        <script src="scripts/social/social-connect/services/repository/SocialConnectRepository.js"></script>
        <script src="scripts/social/social-connect/directives/connect-btn/social-connect-twitter-connect-btn.js"></script>
        <script src="scripts/social/social-connect/directives/connect-btn/social-connect-linkedin-connect-btn.js"></script>
        <script src="scripts/social/social-connect/directives/connect-btn/social-connect-google-connect-btn.js"></script>
        <script src="scripts/social/social-connect/directives/connect-btn/social-connect-facebook-connect-btn.js"></script>
        <script src="scripts/social/social-connect/directives/common/social-connect-twitter-tweet.js"></script>
        <script src="scripts/social/social-connect/directives/common/social-connect-google-share.js"></script>
        <script src="scripts/social/social-connect/directives/common/social-connect-facebook-user-picture-prepend.js"></script>
        <script src="scripts/social/social-connect/directives/common/social-connect-facebook-share.js"></script>
        <script src="scripts/social/social-connect/directives/common/social-connect-block.js"></script>
        <script src="scripts/user/userMod.js"></script>
        <script src="scripts/user/services/util/UserUtils.js"></script>
        <script src="scripts/user/services/util/UserRoleUtils.js"></script>
        <script src="scripts/user/services/util/UserRedirector.js"></script>
        <script src="scripts/user/services/repository/UserRepository.js"></script>
        <script src="scripts/user/services/repository/CurrentUserRepository.js"></script>
        <script src="scripts/user/services/registry/UserSecurityQuestionsRegistry.js"></script>
        <script src="scripts/user/services/registry/UserRedirectExcludedStatesRegistry.js"></script>
        <script src="scripts/user/services/registry/UserPostLoginRedirectionFromStatesRegistry.js"></script>
        <script src="scripts/user/services/registry/UserDonateAsOptionsRegistry.js"></script>
        <script src="scripts/user/services/manager/UserManager.js"></script>
        <script src="scripts/user/services/manager/CurrentUserManager.js"></script>
        <script src="scripts/user/directives/validators/user-email-unique.js"></script>
        <script src="scripts/user/directives/panel/user-summary-panel.js"></script>
        <script src="scripts/user/directives/panel/user-data-panel.js"></script>
        <script src="scripts/user/directives/panel/user-admin-stuff-panel.js"></script>
        <script src="scripts/user/directives/page/user-verify-account.js"></script>
        <script src="scripts/user/directives/page/user-reset-password-confirmation-page.js"></script>
        <script src="scripts/user/directives/page/user-registration-page.js"></script>
        <script src="scripts/user/directives/page/user-registration-confirmation-page.js"></script>
        <script src="scripts/user/directives/page/user-management-page.js"></script>
        <script src="scripts/user/directives/page/user-dashboard-page.js"></script>
        <script src="scripts/user/directives/modal/user-restore-password-modal.js"></script>
        <script src="scripts/user/directives/modal/user-request-confirmation-email-modal.js"></script>
        <script src="scripts/user/directives/modal/user-login-modal.js"></script>
        <script src="scripts/user/directives/modal/user-edit-password-modal.js"></script>
        <script src="scripts/user/directives/modal/user-edit-modal.js"></script>
        <script src="scripts/company/companyMod.js"></script>
        <script src="scripts/user/directives/modal/user-edit-company-manager-modal.js"></script>
        <script src="scripts/user/directives/modal/user-edit-charity-manager-modal.js"></script>
        <script src="scripts/user/directives/modal/user-create-modal.js"></script>
        <script src="scripts/user/directives/common/user-roles.js"></script>
        <script src="scripts/user/directives/common/user-password-strength.js"></script>
        <script src="scripts/user/directives/common/user-login-required.js"></script>
        <script src="scripts/user/directives/common/user-favorite-charity-toggle.js"></script>
        <script src="scripts/user/directives/common/user-change-donation-type-toggle.js"></script>
        <script src="scripts/statistics/statisticsMod.js"></script>
        <script src="scripts/statistics/services/repository/StatisticsRepository.js"></script>
        <script src="scripts/statistics/directives/common/statistics-global.js"></script>
        <script src="scripts/statistics/directives/common/highcharts-lazy-load.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-user-overall-average-donations.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-states-map.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-overall-chart.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-dollars-vs-pto-chart.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-departments-heatmap.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-counts-vs-dollars-chart.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-charity-categories-heatmap.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-average-dollars-chart.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-donation-age-groups-heatmap.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-company-new-employees-chart.js"></script>
        <script src="scripts/statistics/directives/charts/statistics-charity-profile-views-vs-donations-chart.js"></script>
        <script src="scripts/social/twitter-channel/filters/transformTweetLinks.js"></script>
        <script src="scripts/social/twitter-channel/directives/twitter-channel.js"></script>
        <script src="scripts/social/social-wall/socialWallMod.js"></script>
        <script src="scripts/social/social-wall/services/SocialWallUtils.js"></script>
        <script src="scripts/social/social-wall/directives/social-wall.js"></script>
        <script src="scripts/social/social-wall/directives/jquery.social.stream.1.5.4-patched.js"></script>
        <script src="scripts/review/reviewMod.js"></script>
        <script src="scripts/review/services/utils/ReviewUtils.js"></script>
        <script src="scripts/review/services/repository/ReviewRepository.js"></script>
        <script src="scripts/review/services/repository/ReviewLikeRepository.js"></script>
        <script src="scripts/review/services/repository/ReviewAnswerRepository.js"></script>
        <script src="scripts/review/services/constants/ReviewAvailableStatuses.js"></script>
        <script src="scripts/review/services/constants/ReviewAvailableRejectionReasons.js"></script>
        <script src="scripts/review/directives/page/review-management-page.js"></script>
        <script src="scripts/review/directives/page/review-answer-management-page.js"></script>
        <script src="scripts/review/directives/modal/review-reject-modal.js"></script>
        <script src="scripts/review/directives/modal/review-post-modal.js"></script>
        <script src="scripts/review/directives/modal/review-edit-modal.js"></script>
        <script src="scripts/review/directives/modal/review-answer-reject-modal.js"></script>
        <script src="scripts/review/directives/modal/review-answer-post-modal.js"></script>
        <script src="scripts/review/directives/modal/review-answer-edit-modal.js"></script>
        <script src="scripts/review/directives/common/review-summary.js"></script>
        <script src="scripts/review/directives/common/review-post-modal-open-button.js"></script>
        <script src="scripts/review/directives/common/review-list.js"></script>
        <script src="scripts/review/directives/common/review-list-item.js"></script>
        <script src="scripts/review/directives/common/review-like.js"></script>
        <script src="scripts/review/directives/common/review-item.js"></script>
        <script src="scripts/review/directives/common/review-answer-post-modal-open-button.js"></script>
        <script src="scripts/recommended-charity/recommendedCharityMod.js"></script>
        <script src="scripts/recommended-charity/services/repository/RecommendedCharityRepository.js"></script>
        <script src="scripts/payroll/payrollMod.js"></script>
        <script src="scripts/payroll/services/validator/PayrollScheduleValidator.js"></script>
        <script src="scripts/payroll/services/validator/PayrollLimitValidator.js"></script>
        <script src="scripts/payroll/services/util/PayrollUtils.js"></script>
        <script src="scripts/payroll/services/repository/SalaryLimitRepository.js"></script>
        <script src="scripts/payroll/services/repository/PtoLimitRepository.js"></script>
        <script src="scripts/payroll/services/repository/PayrollScheduleRepository.js"></script>
        <script src="scripts/payroll/services/registry/PtoLimitRegistry.js"></script>
        <script src="scripts/payroll/services/registry/PayrollScheduleRegistry.js"></script>
        <script src="scripts/payroll/directives/page/payroll-admin-page.js"></script>
        <script src="scripts/payroll/directives/common/salary-limit.js"></script>
        <script src="scripts/payroll/directives/common/pto-limit.js"></script>
        <script src="scripts/payroll/directives/common/payroll-schedule.js"></script>
        <script src="scripts/notification-center/notificationCenterMod.js"></script>
        <script src="scripts/notification-center/services/registry/NotificationCenterFacesRegistry.js"></script>
        <script src="scripts/master-key/masterKeyMod.js"></script>
        <script src="scripts/master-key/services/repository/MasterKeyRepository.js"></script>
        <script src="scripts/master-key/services/configuration/MasterKeyConfiguration.js"></script>
        <script src="scripts/master-key/directives/modal/master-key-upload-modal.js"></script>
        <script src="scripts/master-key/directives/common/master-key-manage-button.js"></script>
        <script src="scripts/main/mainMod.js"></script>
        <script src="scripts/main/services/manager/MainAppVersionManager.js"></script>
        <script src="scripts/main/directives/page/main-privacy-page.js"></script>
        <script src="scripts/main/directives/page/main-home-page.js"></script>
        <script src="scripts/main/directives/page/main-faq-page.js"></script>
        <script src="scripts/main/directives/page/main-about-page.js"></script>
        <script src="scripts/main/directives/page/collision-page.js"></script>
        <script src="scripts/main/directives/modal/collision-success-modal.js"></script>
        <script src="scripts/main/directives/common/main-philanthropist.js"></script>
        <script src="scripts/main/directives/common/main-header.js"></script>
        <script src="scripts/main/directives/common/main-footer.js"></script>
        <script src="scripts/main/directives/common/main-content.js"></script>
        <script src="scripts/main/directives/common/main-app-version.js"></script>
        <script src="scripts/mail/mailMod.js"></script>
        <script src="scripts/mail/services/util/MailUtils.js"></script>
        <script src="scripts/mail/services/repository/MailRepository.js"></script>
        <script src="scripts/mail/directives/panel/mail-participants-current-panel.js"></script>
        <script src="scripts/mail/directives/page/mail-trash-page.js"></script>
        <script src="scripts/mail/directives/page/mail-thread-page.js"></script>
        <script src="scripts/mail/directives/page/mail-outbox-page.js"></script>
        <script src="scripts/mail/directives/page/mail-index-page.js"></script>
        <script src="scripts/mail/directives/page/mail-inbox-page.js"></script>
        <script src="scripts/mail/directives/page/mail-compose-page.js"></script>
        <script src="scripts/feedback/feedbackMod.js"></script>
        <script src="scripts/feedback/services/repository/FeedbackRepository.js"></script>
        <script src="scripts/feedback/directives/common/feedback.js"></script>
        <script src="scripts/employee/employeeMod.js"></script>
        <script src="scripts/employee/services/validator/EmployeeValidator.js"></script>
        <script src="scripts/employee/services/repository/EmployeeRepository.js"></script>
        <script src="scripts/employee/directives/page/employee-list-page.js"></script>
        <script src="scripts/employee/directives/modal/employee-remove-modal.js"></script>
        <script src="scripts/employee/directives/modal/employee-rate-modal.js"></script>
        <script src="scripts/employee/directives/modal/employee-create-modal.js"></script>
        <script src="scripts/employee/directives/modal/employee-config-modal.js"></script>
        <script src="scripts/employee/directives/form/employee-upload-csv.js"></script>
        <script src="scripts/donation/donationMod.js"></script>
        <script src="scripts/donation/services/validator/DonationValidator.js"></script>
        <script src="scripts/donation/services/util/DonationTypeUtils.js"></script>
        <script src="scripts/donation/services/repository/DonationTypeRepository.js"></script>
        <script src="scripts/donation/services/repository/DonationRepository.js"></script>
        <script src="scripts/donation/services/registry/DonationOwnerRegistry.js"></script>
        <script src="scripts/donation/services/calculator/DonationCalculator.js"></script>
        <script src="scripts/donation/directives/page/donation-management-page.js"></script>
        <script src="scripts/donation/directives/modal/donation-success-modal.js"></script>
        <script src="scripts/donation/directives/modal/donation-confirmation-modal.js"></script>
        <script src="scripts/donation/directives/form/donation-quick-form.js"></script>
        <script src="scripts/donation/directives/form/donation-form.js"></script>
        <script src="scripts/donation/directives/common/donation-summary.js"></script>
        <script src="scripts/donation/directives/common/donation-list.js"></script>
        <script src="scripts/donation/directives/common/donation-list-short.js"></script>
        <script src="scripts/donation/directives/common/donation-list-paid.js"></script>
        <script src="scripts/discovery/discoveryMod.js"></script>
        <script src="scripts/discovery/directives/page/discovery-page.js"></script>
        <script src="scripts/contract-form/contractFormMod.js"></script>
        <script src="scripts/contract-form/services/repository/ContractEmailRepository.js"></script>
        <script src="scripts/company/services/repository/CompanyRepository.js"></script>
        <script src="scripts/company/services/repository/CompanyImageRepository.js"></script>
        <script src="scripts/company/directives/page/company-statistics-page.js"></script>
        <script src="scripts/company/directives/page/company-print-page.js"></script>
        <script src="scripts/company/directives/page/company-list-page.js"></script>
        <script src="scripts/company/directives/page/company-edit-page.js"></script>
        <script src="scripts/company/directives/page/company-donation-page.js"></script>
        <script src="scripts/company/directives/page/company-dashboard-page.js"></script>
        <script src="scripts/company/directives/page/company-charity-page.js"></script>
        <script src="scripts/company/directives/page/company-analytics-page.js"></script>
        <script src="scripts/company/directives/modal/company-create-modal.js"></script>
        <script src="scripts/company/directives/form/company-upload-logo.js"></script>
        <script src="scripts/company/directives/common/company-with-donations-list.js"></script>
        <script src="scripts/company/directives/common/company-select.js"></script>
        <script src="scripts/company/directives/common/company-general-statistic.js"></script>
        <script src="scripts/company/directives/common/company-analytics-statistic.js"></script>
        <script src="scripts/charity/charityMod.js"></script>
        <script src="scripts/charity/services/util/CharityUtils.js"></script>
        <script src="scripts/charity/services/util/CharityImageUtils.js"></script>
        <script src="scripts/charity/services/repository/CharityRepository.js"></script>
        <script src="scripts/charity/services/repository/CharityNominationRepository.js"></script>
        <script src="scripts/charity/services/repository/CharityImageRepository.js"></script>
        <script src="scripts/charity/services/repository/CharityCategoryRepository.js"></script>
        <script src="scripts/charity/services/repository/CharityArrowsRepository.js"></script>
        <script src="scripts/charity/directives/page/charity-statistics-page.js"></script>
        <script src="scripts/charity/directives/page/charity-social-page.js"></script>
        <script src="scripts/charity/directives/page/charity-profile-page.js"></script>
        <script src="scripts/charity/directives/page/charity-nomination-list-page.js"></script>
        <script src="scripts/charity/directives/page/charity-management-page.js"></script>
        <script src="scripts/charity/directives/page/charity-edit-page.js"></script>
        <script src="scripts/charity/directives/page/charity-dashboard-page.js"></script>
        <script src="scripts/charity/directives/page/charity-category-list-page.js"></script>
        <script src="scripts/charity/directives/page/charity-analytics-page.js"></script>
        <script src="scripts/charity/directives/modal/charity-create-modal.js"></script>
        <script src="scripts/charity/directives/modal/charity-category-create-modal.js"></script>
        <script src="scripts/charity/directives/form/charity-upload-photos.js"></script>
        <script src="scripts/charity/directives/form/charity-upload-banner.js"></script>
        <script src="scripts/charity/directives/form/charity-edit-form.js"></script>
        <script src="scripts/charity/directives/common/charity-videos-channel.js"></script>
        <script src="scripts/charity/directives/common/charity-videos-carousel.js"></script>
        <script src="scripts/charity/directives/common/charity-summary-widget.js"></script>
        <script src="scripts/charity/directives/common/charity-select.js"></script>
        <script src="scripts/charity/directives/common/charity-photos.js"></script>
        <script src="scripts/charity/directives/common/charity-photos-slider.js"></script>
        <script src="scripts/charity/directives/common/charity-navigator-link.js"></script>
        <script src="scripts/charity/directives/common/charity-grid.js"></script>
        <script src="scripts/charity/directives/common/charity-category-select.js"></script>
        <script src="scripts/charity/directives/common/charity-categories-row.js"></script>
        <script src="scripts/charity/directives/common/charity-boxes3d.js"></script>
        <script src="scripts/charity/directives/common/charity-arrows.js"></script>
        <script src="scripts/user/filters/replaceUserName.js"></script>
        <script src="scripts/user/filters/isUserOnlyUser.js"></script>
        <script src="scripts/user/filters/isUserCompanyManager.js"></script>
        <script src="scripts/user/filters/isUserCharityManager.js"></script>
        <script src="scripts/user/filters/isUserAdmin.js"></script>
        <script src="scripts/user/filters/isCompanyManagedByCurrentUser.js"></script>
        <script src="scripts/user/filters/isCharityManagedByCurrentUser.js"></script>
        <script src="scripts/user/filters/donateAsLabel.js"></script>
        <script src="scripts/search/searchMod.js"></script>
        <script src="scripts/search/services/SearchManager.js"></script>
        <script src="scripts/search/directives/autocomplete.js"></script>
        <script src="scripts/search/controllers/SearchCharityCtrl.js"></script>
        <script src="scripts/review/filter/isReviewOwnedByCurrentUser.js"></script>
        <script src="scripts/pdf-export/pdfExportMod.js"></script>
        <script src="scripts/pdf-export/services/PdfExportRepository.js"></script>
        <script src="scripts/pdf-export/directives/pdf-export-donations-button.js"></script>
        <script src="scripts/notification-center/services/NotificationCenter.js"></script>
        <script src="scripts/notification-center/directives/notification-center-messages.js"></script>
        <script src="scripts/master-key/interceptors/MasterKeyHttpInterceptor.js"></script>
        <script src="scripts/main/filters/isSyncedButDontHavePto.js"></script>
        <script src="scripts/main/filters/isSyncedAndHavePto.js"></script>
        <script src="scripts/main/filters/isSalaryEnabled.js"></script>
        <script src="scripts/main/filters/isPtoEnabled.js"></script>
        <script src="scripts/google-analytics/googleAnalyticsMod.js"></script>
        <script src="scripts/google-analytics/services/GoogleAnalyticsSubscriber.js"></script>
        <script src="scripts/fixture/fixtureMod.js"></script>
        <script src="scripts/fixture/services/FixtureStatisticsData.js"></script>
        <script src="scripts/feedback/html2canvas/html2canvas.js"></script>
        <script src="scripts/error-pages/errorPagesMod.js"></script>
        <script src="scripts/error-pages/services/ErrorPagesRedirector.js"></script>
        <script src="scripts/donation/filters/we2oCurrency.js"></script>
        <script src="scripts/donation/filters/ptoFormat.js"></script>
        <script src="scripts/donation/filters/donationTaxPercentage.js"></script>
        <script src="scripts/donation/filters/donationPtoToDollars.js"></script>
        <script src="scripts/donation/filters/donationPtoRemaining.js"></script>
        <script src="scripts/donation/filters/donationMatchingAmount.js"></script>
        <script src="scripts/donation/filters/donationCalculateTotal.js"></script>
        <script src="scripts/csv-export/csvExportMod.js"></script>
        <script src="scripts/csv-export/services/CsvExportRepository.js"></script>
        <script src="scripts/csv-export/directives/csv-export-donations-button.js"></script>
        <script src="scripts/contract-form/directives/contract-form-company.js"></script>
        <script src="scripts/contract-form/directives/contract-form-charity.js"></script>
        <script src="scripts/charity/filter/isCharityExcludedForCurrentUser.js"></script>
        <script src="scripts/charity/filter/extractCharityYoutubePages.js"></script>
        <script src="scripts/charity/filter/extractCharityTwitterPages.js"></script>
        <script src="scripts/charity/filter/extractCharityPinterestPages.js"></script>
        <script src="scripts/charity/filter/extractCharityGooglePlusPages.js"></script>
        <script src="scripts/charity/filter/extractCharityFacebookPages.js"></script>
        <script src="scripts/commons/commonsMod.js"></script>
        <script src="scripts/admin/adminMod.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/parameters.js"></script>
        <script src="scripts/configuration.js"></script>
        <!-- endinject -->
        <!-- endbuild -->


        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-W95TBZ"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W95TBZ');</script>
        <!-- End Google Tag Manager -->

        <!-- socials: google plus and linkedIn -->
        <script type="text/javascript">(function() { var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://apis.google.com/js/client:plusone.js?onload=googleOnLoadCallback'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s); })();</script>
        <script type="text/javascript" src="//platform.linkedIn.com/in.js">
            api_key:    77kyuj6b07iex1
            onLoad:     linkedInOnLoadCallback
            authorize:  true
        </script>

        <!-- share buttons and others -->
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "a8399d43-beaf-4fb8-a166-b9a801d22c71", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

        <!-- other scripts -->
        <script src="//www.google.com/recaptcha/api.js?onload=vcRecapthaApiLoaded&render=explicit" async defer></script>

    </body>
</html>
